services:
  php:
    container_name: ctt-php
    build: .docker/php
    image: ctt/php
    user: docker
    ports:
      - "8000:8000"
    extra_hosts:
      - host.docker.internal:host-gateway
    volumes:
      - .docker/php/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini
      - .docker/php/custom-php.ini:/usr/local/etc/php/conf.d/custom-php.ini
      - .:/usr/src/app
    environment:
      PHP_IDE_CONFIG: "serverName=docker-ctt-php"
    networks: [app]
#    entrypoint: "tail -f /dev/null"
#    entrypoint: "php artisan octane:frankenphp --caddyfile .docker/php/Caddyfile --workers=1 --watch"
    entrypoint: "php artisan octane:frankenphp --caddyfile .docker/php/Caddyfile --workers=1 --max-requests=1 --watch"
  postgres:
    container_name: ctt-postgres
    image: postgres:alpine
    environment:
      - POSTGRES_DB=${DB_DATABASE}
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "5432:5432"
    hostname: db
    networks: [app]
  valkey:
    container_name: ctt-valkey
    image: valkey/valkey:8.1.3-alpine
    command: valkey-server
    hostname: redis
    networks: [app]
    ports:
      - "6379:6379"
networks:
  app:
    driver: bridge
