.article-list-item {
    background-color: #e5e7eb;

    &:hover {
        background-color: #c8ffc8;
    }

    &.active {
        background-color: powderblue;
    }
}

.loader {
    border: 4px solid #f3f3f3; /* Light grey border */
    border-top: 4px solid #3498db; /* Blue top border for spinning effect */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
